#divMenuLateral{
    background-color: #ffffff;
}
#menuLateral::before{
    width: 25px;
    height: 25px;
    background-color: #8a439a;
    color: #ffffff;
    font-weight: bolder;
    font-family: monospace;
    position: relative;
    content: '>';
    border-radius: 20px;
    text-align: center;
    left: 92%;
    top: 15px;
    cursor: pointer;
}

#menuLateral div.col-lg>label{
    color: #9a76d3;
    font-size: 14px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#menuLateral div.row[href]:hover{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.17970938375350143) 0%, rgb(227, 217, 244) 18%,rgba(213,187,254,1) 35%, rgb(224, 206, 255) 60%,rgb(224, 206, 255) 70%, rgba(255,255,255,0.18) 100%)
}

#menuLateral div.row[href]:hover .col-lg>label{
    color: white;
}