#divMenuLateral{
    background-color: #ffffff;
}
#divMenuLateral #btnControlaMenu{
    width: 25px;
    height: 25px;
    border: 0px;
    background-color: #8a439a;
    color: #ffffff;
    font-weight: bolder;
    font-family: monospace!important;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

#menuLateral div.col-lg>label{
    color: #9a76d3;
    font-size: 14px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#divMenuLateral.menu-aberto>#menuLateral div[role="button"]:hover{
    transition-timing-function: cubic-bezier(.67,.03,.57,.95);
    transition-duration: 400ms;
    transition-delay: 0ms;
    border-radius: 15px;
    background-color: #80008063;
}

#menuLateral div.row[href]:hover .col-lg>label{
    transition-timing-function: cubic-bezier(.67,.03,.57,.95);
    transition-duration: 400ms;
    transition-delay: 0ms;
    color: white;
}

#divMenuLateral.menu-aberto{
    transition-property: all;
    transition-timing-function: cubic-bezier(.67,.03,.57,.95);
    transition-duration: 650ms;
}

/* Menu Fechado */

#divMenuLateral.menu-fechado{
    transition-property: all;
    transition-timing-function: cubic-bezier(.67,.03,.57,.95);
    transition-duration: 650ms;
    max-width: 90px;
}

#divMenuLateral.menu-fechado>#menuLateral #btnControlaMenu{
    left: 92%;
    top: 15px;
}

#divMenuLateral.menu-fechado>#menuLateral p.h6{
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 650ms;
    display: none;
}

#divMenuLateral.menu-fechado>#menuLateral img[src="/img/eevee.png"]{
    transition-property: all;
    transition-timing-function: cubic-bezier(.67,.03,.57,.95);
    transition-duration: 250ms;
    transition-delay: 750ms;
    margin-left: 16px;
}

#divMenuLateral.menu-fechado>#menuLateral div[role="button"] div.divImagemMenuLateral{
    transition-property: all;
    transition-timing-function: cubic-bezier(.67,.03,.57,.95);
    transition-duration: 250ms;
    transition-delay: 750ms;
    text-align: center;
}

#divMenuLateral.menu-fechado>#menuLateral div[role="button"]:hover div.divImagemMenuLateral{
    transition-timing-function: cubic-bezier(.67,.03,.57,.95);
    transition-duration: 100ms;
    transition-delay: 0ms;
    border-radius: 15px;
    background-color: #800080ba;
}

#divMenuLateral.menu-fechado>#menuLateral div[role="button"]{
    justify-content: center!important;
}

#divMenuLateral.menu-fechado>#menuLateral div[role="button"] label, #divMenuLateral.menu-fechado>#menuLateral div[role="button"] div.align-self-center{
    animation: disappearAnimation 650ms forwards;
}

@keyframes disappearAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
}